<form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
    REGISTRO
    <div>
      <mat-form-field>
        <input matInput placeholder="EMail" type="text" formControlName="email" />
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <input matInput placeholder="Password" type="password" formControlName="password" />
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <input matInput placeholder="Información de TC" type="text" formControlName="ccinfo" />
      </mat-form-field>
    </div>
    <button mat-button color="primary" type="submit" [disabled]="!signupForm.valid">Registrar</button>
    <a mat-button routerLink="/login">Ingreso</a>
  </form>
  